/* Day-Night toggle */
.theme-switch-wrapper{
    padding: 26px 35px 20px 5px;
    float: right;
}
.theme-switch{
    display: inline-block;
    height: 22px;
    position: relative;
    width: 50px;
}
.theme-switch input{
    display: none;
}
.slider{
    background-color: var(--bgColor);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    transition: 0.7s;
    border-radius: 80px;
    overflow: hidden;
}
.slider:before{
    background-color: #ffdc3f;
    bottom: 3px;
    left: 3px;
    content: "";
    height: 16px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    transition: 0.7s;
}
.slider:after{
    background-color: rgb(180,194,206);
    bottom: 3px;
    left: -20px;
    content: "";
    height: 16px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    transition: 0.7s;
}
input:checked + .slider{
    background-color: var(--bgColor);
}

input:checked + .slider:before{
    transform: translateX(22px);
    background-color: #FFE15D;
}

input:checked + .slider:after{
    transform: translateX(38px);
    background-color: var(--bgColor);
}